section {
  border-right: solid 1px #3d3d3d;
  padding: 14px;
  width: fit-content;
  height: 100vh;
  overflow-y: auto;
}
section::-webkit-scrollbar {
  width: 5px; /* For vertical scrollbars */
  height: 5px; /* For horizontal scrollbars */
}

section::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

hr {
  width: 100%;
  border: 1px solid #3d3d3d;
  margin-top: 3px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
  width: 254px;
}

.sidebar-content h5 {
  font-size: 16px;
  font-weight: 600;
  color: #6d6d6d;
}

.history {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  width: 100%;
}

.history p {
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.history p:hover {
  background-color: #3d3d3d;
}
